name: Deploy Strapi ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -auto-approve

    - name: Wait for AWS Resources
      run: sleep 60

    - name: Get Repo URL
      run: |
        echo "REPO_URI=$(terraform output -raw repo_url)" >> $GITHUB_ENV

    - name: Login + Build + Push Docker Image
      run: |
        aws ecr get-login-password --region us-east-1 | \
        docker login --username AWS --password-stdin \
        $(echo $REPO_URI | cut -d'/' -f1)

        docker build -t $REPO_URI:latest .

        docker push $REPO_URI:latest

    - name: Deploy ECS
      run: |
        aws ecs update-service \
        --cluster noor-strapi-final-cluster-v6 \
        --service noor-strapi-service-v6 \
        --force-new-deployment
