name: Deploy Strapi to ECS Fargate Spot

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Login to ECR
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          REPO_URI=$ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/strapi-repo
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin $REPO_URI

      - name: Build and Push Docker Image
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          REPO_URI=$ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/strapi-repo
          docker build -t $REPO_URI:latest .
          docker push $REPO_URI:latest